<div id="toolbar">
    <table class="form">
        <tr>
            <td>
                <a class="easyui-linkbutton" plain="true" onclick="onOpen()"><i class="fa fa-plus"></i> {$Think.lang.add}</a>
            </td>
        </tr>
    </table>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'text',width:120">{$Think.lang.menu}{$Think.lang.text}</th>
        <th data-options="field:'module',width:50">{$Think.lang.module}</th>
        <th data-options="field:'controller',width:50">{$Think.lang.controller}</th>
        <th data-options="field:'method',width:50">{$Think.lang.method}</th>
        <th data-options="field:'display',width:50,align:'center', formatter: function(value){
            return value == '1' ? '<font color=red>{$Think.lang.yes}</font>' : '{$Think.lang.no}';
        }">{$Think.lang.display}</th>
        <th data-options="field:'power',width:90">{$Think.lang.power}</th>
    </tr>
    </thead>
</table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:onMenu">
    <div data-options="name:'delete', iconCls:'icon-no'">{$Think.lang.delete}{$Think.lang.menu}</div>
    <div data-options="name:'reload',iconCls:'icon-save'">{$Think.lang.reload}{$Think.lang.list}</div>
    <div data-options="name:'add',iconCls:'fa fa-plus'">{$Think.lang.add}{$Think.lang.child}{$Think.lang.menu}</div>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var rowId = 0;
    $(function(){
        easyui.treegrid({
            element:grid,
            onContextMenu: function(e, row){
                e.preventDefault();
                try {
                    rowId = row.id;
                    grid.treegrid('select', rowId);
                    $('#leftMenu').menu('show', {
                        left:e.pageX,
                        top:e.pageY
                    });
                }catch(e){}

            },
            onDblClickRow: function(node){
                onOpen(node);
            }
        });
    });

    function onOpen(node) {
        if(empty(node)) {
            var row = grid.treegrid('getSelected');
            if(row){
                node = {
                    pid: row.id,
                    display:row.display
                };
            }else{
                node = {
                    display:1
                };
            }
        }
        var opts = {
            href: '{:url("form")}',
            width: 600,
            data: node,
            handler: function(result){
                grid.treegrid('reload');
            }
        };
        shadow.open(opts);
    }

    function onMenu(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                if(rowId) {
                    easyui.doAjax('{:url("delete")}', {id: rowId}, function(){
                        grid.treegrid('reload');
                    });
                }
                break;
            case 'add':
                onOpen();
                break;
        }

    }

</script>